################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/RedsysTPV/bin
/src/RedsysTPV/obj
/src/RedsysTPV.Tests/bin
/src/RedsysTPV.Tests/obj
/src/RedsysTPV.WebSample/bin
/src/RedsysTPV.WebSample/obj
/src/.vs/RedsysTPV/v15
/src/packages
.vs
/src/.vs/RedsysTPV/config/applicationhost.config
/src/.vs/RedsysTPV/v16
/src/**/bin
/src/**/obj