@model ResponseViewModel

<div class="row">
    <div class="col-md-12">
        <h1>Respuesta comercio:</h1>
        <div class="form-group">
            <label for="Amount">Fecha:</label>
            <input asp-for="Date" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Amount">Importe</label>
            <input asp-for="Amount" class="form-control" />
        </div>
        <div class="form-group">
            <label for="MerchantCode">Authorisation Code</label>
            <input asp-for="AuthorisationCode" class="form-control" />
        </div>
        <div class="form-group">
            <label for="MerchantOrder">Tarjeta crédito</label>
            <input asp-for="CardNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Amount">Fecha Caducidad</label>
            <input asp-for="ExpiryDate" class="form-control" />
        </div>
    </div>
</div>